<!DOCTYPE html>
<html lang="en" xml:lang="en">
  
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(221, 228, 240)">
        <a class="navbar-brand" href="/">
          <!-- Malcolm La Force wordmark -->
          <img
            src="/images/wordmark.svg"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="/">About</a>
            <a class="nav-item nav-link" href="/">Contact</a>
          </div>
        </div>
      </nav>

      <div>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div>
  </body>
</html>
